* {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1;
    box-sizing: border-box;
}

#app {
    position: relative;
    margin: 0 auto;
    padding: 16px;
    width: 100%;
    max-width: 750px;
    background-color: #2196f3;
    border-radius: 4px;
}

#app > * {
    background-color: white;
}

#app > * + * {
    margin-top: 16px;
}

#audio-sample {
    display: block;
    border-radius: 4px;
}

@media screen and (max-width: 414px) {
    #audio-sample {
        width: 100%;
    }
}

#canvas-audio {
    display: block;
    width: 100%;
    border-radius: 4px;
}